#map {
 height: 400px;
 width: 100%;
}
/* Optional: Makes the sample page fill the window. */

#floating-panel {
 position: absolute;
 top: 110px;
 left: 30%;
 z-index: 5;
 background-color: #fff;
 padding: 5px;
 border: 1px solid #999;
 text-align: center;
 font-family: 'Roboto','sans-serif';
 line-height: 30px;
 padding-left: 10px;
}
