

footer {
  background-color: #f2f2f2;
  padding: 25px;
}
.wells
{
  width:100%;
    height:auto;
    color: black;
    text-align: left;
}
.navbar-brand
{

  font-size: 35px;
  font-family: 'Black And White Picture', sans-serif;
  transition:2.5s ease;
  -webkit-transition:2.5s ease;
  -moz-transition:2.5s ease;
}
.navbar-brand:hover
{
   text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.hovers a
{
  font-size: 18px;
  transition:transform 1.25s ease;
  -webkit-transition: transform 1.25s ease;
  -moz-transition:transform 1.25s ease;
}
.hovers a:hover
{
  cursor: pointer;
  transform: scale(1.5, 1.5); /** default is 1, scale it to 1.5 */
  opacity: 1;
  text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}

.exp img
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition:transform 1.1s ease;
  -webkit-transition: transform 1.1s ease;
  -moz-transition:transform 1.1s ease;
}

.exp img:hover
{
  cursor: pointer;
  transform: scale(1.25, 1.25); /** default is 1, scale it to 1.5 */
  opacity: 1;
}
.foots a
{
  padding-left: 5px;
  padding-right: 5px;
}
.foots img
{
  transition:transform 1.1s ease;
  -webkit-transition: transform 1.1s ease;
  -moz-transition:transform 1.1s ease;
}
.foots img:hover
{
  transform: scale(1.25, 1.25); /** default is 1, scale it to 1.5 */
  opacity: 1;
}
.foots a:hover
{
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  cursor: pointer;
}
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  min-height: 200px;
}
.modal-body
{
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}
/* Hide the carousel text when the screen is less than 600 pixels wide */



@media (max-width: 600px) {

  .carousel-caption {
    display: none;
  }
    .wells
  {
      width:100%;
      height:auto;
      color: white;
      text-align: center;
  }
  .navbar-brand
  {
    font-size: 22px;
    transition:2.5s ease;
    -webkit-transition:2.5s ease;
    -moz-transition:2.5s ease;
  }
  .hovers a
  {
    font-size: 18px;
    text-align: center;
    transition:1.25s ease;
    -webkit-transition: 1.25s ease;
    -moz-transition:1.25s ease;
  }
  .hovers a:hover
  {
    transform: scale(1, 1); /** default is 1, scale it to 1.5 */
    opacity: 1;
  }
  .exp img
  {
    transition:transform 1.1s ease;
    -webkit-transition: transform 1.1s ease;
    -moz-transition:transform 1.1s ease;
  }

  .exp img:hover
  {
    transform: scale(1.05, 1.05); /** default is 1, scale it to 1.5 */
    opacity: 1;
  }
}
