<html>
<header>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js">

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js">

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js">

</script>

<script type="text/javascript">
      $(function () {
      $('#datetimepicker_checkin').datetimepicker({
                  format: 'YYYY-MM-DD'
              });
      $('#datetimepicker_checkout').datetimepicker({
          useCurrent: false ,
          format: 'YYYY-MM-DD'  //Important! See issue #1075
      });
      $("#datetimepicker_checkin").on("dp.change", function (e) {
          $('#datetimepicker_checkout').data("DateTimePicker").minDate(e.date);
      });

      });
</script>
</header>
<body>
	<td><label for="">CHECK-IN</label></td>
      <td>
          <div class='input-group date' id='datetimepicker_checkin'>
              <input type='text' class="form-control" name="check_in" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
      </td>
    </tr>
    <tr>
      <td><label for="">CHECK-OUT</label></td>
      <td>
        <div class='input-group date' id='datetimepicker_checkout'>
            <input type='text' class="form-control" name="check_out"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </td>
</body>
</html>


----------
